<div class="home">
  <div class="overly mt-5">
    <h1 class="text-center mt-5" id="awa">Awwwards</h1>
    <p class="text-center">Design Rating && Review</p>
    <button type="button" class="btn btn-primary btn-circle btn-sm">Design</button>
    <button type="button" class="btn btn-primary btn-circle btn-sm">Developer</button>
    <button type="button" class="btn btn-primary btn-circle btn-sm">Creativity</button>
    <button type="button" class="btn btn-primary btn-circle btn-sm">Content</button>
  </div>
</div>